/* Reset di base per tutti gli elementi: rimuove margini e padding, imposta box-sizing */
* {
    margin: 0; /* Rimuove i margini di tutti gli elementi */
    padding: 0; /* Rimuove il padding di tutti gli elementi */
    box-sizing: border-box; /* Imposta il box-sizing per includere padding e bordi nella larghezza e altezza degli elementi */
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.roboto-100 {
    font-family: "Roboto", sans-serif; /* Imposta il font Roboto come font principale */
    font-optical-sizing: auto; /* Abilita il ridimensionamento ottico del font */
    font-weight: 100; /* Imposta il peso del font a 100 */
    font-style: normal; /* Imposta lo stile del font a normale */
    font-variation-settings: "wdth" 100; /* Imposta la larghezza del font a 100 */
}

/* Importazione font */

@font-face {
    font-family: 'EudoxusSans';     /* Nome del font */
    src: url('font/EudoxusSans-Bold.ttf'); /* Percorso del file del font */
}
/* Importazione font */

/* BANNER */
.banner {
    display: flex; /* Usa il layout flexbox per il banner */
    position: relative; /* Posizione relativa per posizionare gli elementi all'interno del banner */  
    top: 100px; /* Sposta il banner sotto la navbar */
    
    background-image: url('img/banner.jpg'); /* Immagine di sfondo del banner */    
    background-size: cover; /* Copre l'intera area del banner */
    background-position: center; /* Centra l'immagine di sfondo */  
    background-repeat: no-repeat; /* Non ripete l'immagine di sfondo */
    z-index: 1; /* Assicura che il banner sia sotto altri elementi della pagina */
    width: 100%; /* Larghezza del banner */ 
}

.banner h1 {
    font-size: 5rem;   /* Dimensione del testo del titolo */
    color: rgb(252, 252, 252); /* Colore del testo del titolo */
    font-family: EudoxusSans; /* Font del titolo */
    text-align: center; /* Allinea il testo al centro */
    margin: 0;     /* Rimuove il margine del titolo */
    padding: 20px; /* Padding per il titolo */
    top: 50%;  /* Posiziona il titolo al centro verticale del banner */  
    left: 50%; /* Posiziona il titolo al centro orizzontale del banner */
    transform: translate(-50%, -5%);   
    position: relative;
    z-index: 1;
}

/*contenitore immagini galleria */
.flex-container {
    display: grid;
    position: relative; /* Posizione relativa per posizionare gli elementi all'interno della galleria */
    z-index: 0; 
    top: 100px; /* Sposta la galleria sotto il banner */
    width: 100vw; /* Larghezza della galleria */ 
    grid-template-columns: repeat(3, 1fr); /* Tre colonne di uguale larghezza */
    background-color: #c50000; /* Colore di sfondo per la galleria */
 
}

@media (min-width: 2048px) {
    .flex-container {
        display: grid;
        position: relative; /* Posizione relativa per posizionare gli elementi all'interno della galleria */
        z-index: 0; 
        top: 100px; /* Sposta la galleria sotto il banner */
        width: 100vw; /* Larghezza della galleria */ 
        grid-template-columns: repeat(3, 1fr); /* Tre colonne di uguale larghezza */
        background-color: #c50000; /* Colore di sfondo per la galleria */
        left: 50px; /* Sposta la galleria a sinistra di 50px */
    }
  
}

.portrait{
    width: 640px; /* Larghezza dell'immagine */
    height: 800px; /* Altezza dell'immagine */
    object-fit: cover;
    position: relative; 
    filter: sepia(50%) grayscale(0%) brightness(70%); /* Applica il filtro seppia e scala di grigi */
}

.portrait:hover {
    filter:  sepia(0%) grayscale(0%); /* Rimuove il filtro in scala di grigi al passaggio del mouse */
    transition: filter 0.3s ease-in; /* Aggiunge una transizione per un effetto più fluido */
}


/*  Parte immagini testo */
.city-name {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    text-align: center;
    font-family: EudoxusSans;

}

.portrait:hover .city-name {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 20%;
    font-size: 5rem;
    animation: ingrandimento 0.5s ease forwards;
}

.portrait:not(:hover) .city-name { /* Quando non è in hover */
    position: absolute;
    transform: translate(-50%, -50%);
    top: 20%;
    font-size: 3rem;
    animation: riducimento 0.4s ease backwards;
}
/* Parte immagini testo */


/* Animazioni city-name*/
@keyframes ingrandimento {
    from { font-size: 3rem;; }
    to   { font-size: 5rem;; }
}

@keyframes riducimento {
      from { font-size: 5rem;; }
    to   { font-size: 3rem;; }
}
/* Animazioni */


.menuLista{
    z-index: 1100;
    position: absolute;
    transform: scale(0.8);
    top: 60%;
    width: 100%;
    border-bottom: 100px;
    
    display: flex;
    flex-direction: row; /* Le icone saranno in orizzontale */
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.308);
    border-radius: 10px; /* Angoli arrotondati per un aspetto più gradevole */
}

.menuLista ul {
    display: flex;
    flex-wrap: wrap; /* Permette di andare a capo */
    flex-direction: row; /* Le icone saranno in orizzontale */                    
    gap: 30px; /* spazio tra le voci del menu */
    align-items: center;
    justify-content: center;   /* Centra gli elementi */
    list-style: none; /* Rimuove i punti elenco */
    padding: 0;
    margin: 0;
}

/* Allinea icona e testo orizzontalmente dentro ogni voce */
.menuLista li a {
    display:flex;
    list-style: none; /* Rimuove i punti elenco */
    justify-content: center; /* Centra gli elementi all'interno del li */
    align-items: center; /* Allinea verticalmente gli elementi */
    flex-direction: column; /* Icona sopra, testo sotto. Usa 'row' se vuoi testo a fianco */
    margin: 0 10px; /* Spazio tra le icone */
    padding: 10px; /* Spazio interno per ogni voce del menu */
    border-radius: 10px; /* Angoli arrotondati per un aspetto più gradevole */
    transition: background-color 0.3s ease; /* Transizione per un effetto più fluido */ 
    text-decoration: none; /* Rimuove la sottolineatura */
    
}




/* Se vuoi che il testo sia accanto all'icona */
    .menuLista h5 {
    flex-direction: row; /* Icona sopra, testo sotto. Usa 'row' se vuoi testo a fianco */
    text-decoration: none; /* Rimuove la sottolineatura */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Font personalizzato */
    font-size: 1.2rem; /* Dimensione del testo */
    color: white; /* Colore del testo */
    text-align: center; /* Allinea il testo al centro */
    margin: 0 10px; /* Spazio tra le icone */
    display: flex; /* Rende il link un flex container per icona + testo */
    flex-direction: column; /* Icona sopra, testo sotto. Usa 'row' se vuoi testo a fianco */
    align-items: center;
}



.menuLista img {
    width: 100px;
    height: 100px;
    margin: 0 0 10px 0; /* Spazio sotto l'icona */
    display: flex; /* Rende il link un flex container per icona + testo */
    flex-direction: column; /* Icona sopra, testo sotto.*/
    align-items: center;   /* Allinea l'icona al centro */
    color: white;
    font-size: 1.5rem;
    margin: 0 20px; /* Spazio tra le icone */
    text-decoration: none;
}


.menuLista li:hover {
background-color: rgba(182, 178, 178, 0.3); /* Colore di sfondo al passaggio del mouse */
cursor: pointer;
transition: background-color 0.3s ease; /* Transizione per un effetto più fluido */            
}