body {
    background-color: rgb(255, 255, 255);
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 150px;
    margin-top: 0%;
    text-shadow: 2px 2px 5px rgba(11, 30, 239, 0.741);
}

p {
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top: 0%;
}

img.cattedrale {
    width: 1700px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.enna {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 6em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.evidenziato {
    color: rgb(44, 16, 157);
    font-weight: bold;
    padding: 0 4px;
    border-radius: 4px;
}

/* Stile per l'immagine di sfondo */
.immagine {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* Stile per body e html */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
img.enna1 {
    width: 280px;
    margin-left: 100px;
    margin-right: auto;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.103);
    margin-top: 30px;
}
img.enna2 {
    width: 280px;
    margin-left: 100px;
    margin-right: auto;
    box-shadow: 10px 10px 10px 15px rgba(0, 0, 0, 0.103);
    margin-top:30px ;
}
img.enna3 {
    width: 280px;
    margin-left: 100px;
    margin-right: auto;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.103);
    margin-top: 30px;
}
img.enna4 {
    width: 280px;
    margin-left: 100px;
    margin-right: auto;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.103);
    margin-top: 30px;
}
img.enna5 {
    width: 280px;
    margin-left: 100px;
    margin-right: auto;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.103);
    margin-top: 30px;
}
img.enna6 {
    width: 280px;
    margin-left: 100px;
    margin-right: auto;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.103);
    margin-top: 30px;
}